<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
	<th:block th:include="include :: header('用户员工日志列表')" />
</head>
<body class="gray-bg">
     <div class="container-div">
		<div class="row">
			<div class="col-sm-12 search-collapse">
				<form id="formId">
					<div class="select-list">
						<ul>
							<!--<li>-->
								<!--工作内容：<input type="text" name="description"/>-->
							<!--</li>-->

							<li>
								员工名称：<input type="text" name="userName"/>
							</li>

							<li>
								审核人：<input type="text" name="verifyPeopleName"/>
							</li>

							<li>
								完成情况：
								<select name="status" th:with="type=${@dict.getType('emp_status')}" >
									<option value="">所有</option>
									<option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
								</select><!--<input type="text" name="status"/>-->
							</li>

							<!--<li>-->
								<!--未完成原因：<input type="text" name="unfinished"/>-->
							<!--</li>-->

							<!--<li>-->
								<!--编辑状态 0.可编辑 1不可编辑：<input type="text" name="editStatus"/>-->
							<!--</li>-->

							<!--<li>
								创建时间：<input type="text" name="createTime"/>
							</li>

							<li>
								修改时间：<input type="text" name="updateTime"/>
							</li>-->
							<li class="select-time">
								<label>创建时间： </label>
								<input type="text" class="time-input" id="startTime" placeholder="开始时间" name="params[beginTime]"/>
								<span>-</span>
								<input type="text" class="time-input" id="endTime" placeholder="结束时间" name="params[endTime]"/>
							</li>

							<!--<li>-->
								<!--备注：<input type="text" name="remark"/>-->
							<!--</li>-->

							<li>
								<a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
								<a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
							</li>
						</ul>
					</div>
				</form>
			</div>
			
	        <div class="btn-group-sm" id="toolbar" role="group">
				<a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="system:userLog:add">
					<i class="fa fa-plus"></i> 添加
				</a>
				<a class="btn btn-primary btn-edit disabled" onclick="$.operate.edit()" shiro:hasPermission="system:userLog:edit">
					<i class="fa fa-edit"></i> 修改
				</a>
				<a class="btn btn-danger btn-del disabled" onclick="$.operate.removeAll()" shiro:hasPermission="system:userLog:remove">
					<i class="fa fa-remove"></i> 删除
				</a>
				<a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="system:userLog:export">
						<i class="fa fa-download"></i> 导出
				 </a>
			</div>
			<div class="col-sm-12 select-table table-striped">
				<table id="bootstrap-table" data-mobile-responsive="true"></table>
			</div>
		</div>
	</div>
    <div th:include="include :: footer"></div>
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('system:userLog:edit')}]];
        var removeFlag = [[${@permission.hasPermi('system:userLog:remove')}]];
        var datas = [[${@dict.getType('emp_status')}]];
        var prefix = ctx + "system/userLog";


        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
				exportUrl: prefix + "/export",
                modalName: "用户员工日志",
		        showExport: true,
                columns: [{
		            checkbox: true
		        },
				{
					field : 'logId', 
					title : '主键',
					visible: false
				},
				{
					field : 'description', 
					title : '工作内容',
					sortable: true
				},
				{
					field : 'userId', 
					title : '用户id',
					sortable: true,
                    visible: false
				},
				{
					field : 'userName',
					title : '员工',
					sortable: true
				},
				{
					field : 'verifyPeopleName',
					title : '审核人',
					sortable: true
				},
				{
					field : 'status', 
					title : '完成情况',
					sortable: true,
                    formatter: function(value, row, index) {
                        return $.table.selectDictLabel(datas, value);
                    }

				},
				{
					field : 'unfinished', 
					title : '未完成原因',
					sortable: true
				},
				// {
				// 	field : 'editStatus',
				// 	title : '编辑状态 0.可编辑 1不可编辑',
				// 	sortable: true
				// },
				{
					field : 'createTime', 
					title : '创建时间',
					sortable: true
				},
				{
					field : 'updateTime', 
					title : '修改时间',
					sortable: true
				},
				{
					field : 'remark', 
					title : '备注',
					sortable: true
				},
		        {
		            title: '操作',
		            align: 'center',
		            formatter: function(value, row, index) {
		            	var actions = [];
		            	actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.edit(\'' + row.logId + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.logId + '\')"><i class="fa fa-remove"></i>删除</a>');
						return actions.join('');
		            }
		        }]
            };
            $.table.init(options);
        });
    </script>
</body>
</html>